.conatiner {
  width: 100%;
}
.childContainer {
  width: 99%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.slideSec {
  width: 100%;
}
.categoryImeParent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryIme {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box{
    width:16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;

}
.box img{
    width: 90%;
}
.categoryimg{
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-items: center;
}
.categoryimg .box{
    width: 25%;
}
.bigimg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.bigimg a {
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.bigimg a img {
    width:100%;
}