.laptopMenu {
  display: flex;
  justify-content: space-between;
  gap: 1;
}
.laptopMenu p {
  padding: 10px;
}
.manuchild a {
  font-size: 0.8rem;
  color: white;
}
@media only screen and (max-width: 400px) {
  .manuchild a {
    font-size: 0.8rem;
    color: black;
  }
}
@media only screen and (max-width: 600px) {
  .manuchild a {
    font-size: 0.8rem;
    color: black;
  }
}
@media only screen and (max-width: 800px) {
  .manuchild a {
    font-size: 0.8rem;
    color: black;
  }
}
@media only screen and (max-width: 1000px) {
  .manuchild a {
    font-size: 0.8rem;
    color: white;
  }
}
