.container {
  margin-top: 0.3rem;
  width: 100%;
}
.box {
  width: 100%;
  position: relative;
}
.box img {
  width: 100%;
  aspect-ratio: 3;
}
.leftIcon {
  position: absolute;
  top: 10rem;
  left: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
.rightIcon {
  display: none;
  position: absolute;
  top: 10rem;
  right: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.box:hover svg {
  display: flex;
  color: rgb(129, 129, 129);
}

@media only screen and (max-width: 400px) {
  img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 1000px) {
}
