.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.smallImgSec {
    width: 10%;
    height: 80vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.smallImgSec img {
    width: 100%;
}

.active {
    border: 2px solid red;
}

.bigImgSec {
    width: 40%;
}

.bigImgSec img {
    height: 80vh;
    width: 80%;
}
.detailspro{
    width: 40%;
}