.container{
    width: 100%;
}
.box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 400px) {
    .box{
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 1000px) {
}
